<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('src/templates/head.html') %>
		<title>Blog</title>
</head>

<body>

	<section class="blog">
		<div class="container">
			<%- include('src/templates/header.html') %>
				<h1 class="title-h1 blog__title">our digital notes</h1>

				<div class="blog__wrapper">
					<div class="blog__card">
						<div class="blog__data pure-g">
							<div class="pure-u-1 pure-u-md-1-2">
								<img class="blog__img" src="/src/img/form/tea.jpg" alt="tea">
							</div>
							<div class="pure-u-1 pure-u-md-1-2 blog__date-column">
								<h3 class="title-h3 blog__title-h3">pottery secrets</h3>
								<button class="btn-read">read</button>
							</div>
						</div>
						<div class="blog__text">
							Discover the timeless art of pottery and unlock the secrets hidden in every curve and glaze.
							From mastering the perfect
							wheel technique to understanding how clay transforms in the kiln, each step reveals a blend of
							tradition and creativity.
							The true magic lies in the details—subtle textures, natural imperfections, and the unique touch
							of the artisan’s hand, turning simple earth into lasting beauty.
						</div>
					</div>
					<div class="blog__card">
						<div class="blog__data pure-g">
							<div class="pure-u-1 pure-u-md-1-2">
								<img class="blog__img" src="/src/img/works/tea-2.jpg" alt="tea">
							</div>
							<div class="pure-u-1 pure-u-md-1-2 blog__date-column">
								<h3 class="title-h3 blog__title-h3">the best materials for pottery</h3>
								<button class="btn-read">read</button>
							</div>
						</div>
						<div class="blog__text">
							The best material for pottery often depends on the desired look and function, but stoneware is a
							favorite for its
							durability and versatility. It’s strong, resistant to chipping, and perfect for both functional
							pieces like mugs and
							plates, as well as decorative art. Porcelain offers a delicate, refined finish, ideal for
							intricate designs
						</div>
					</div>
					<div class="blog__card">
						<div class="blog__data pure-g">
							<div class="pure-u-1 pure-u-md-1-2">
								<img class="blog__img" src="/src/img/form/tea.jpg" alt="tea">
							</div>
							<div class="pure-u-1 pure-u-md-1-2 blog__date-column">
								<h3 class="title-h3 blog__title-h3">pottery secrets</h3>
								<button class="btn-read">read</button>
							</div>
						</div>
						<div class="blog__text">
							Discover the timeless art of pottery and unlock the secrets hidden in every curve and glaze.
							From mastering the perfect
							wheel technique to understanding how clay transforms in the kiln, each step reveals a blend of
							tradition and creativity.
							The true magic lies in the details—subtle textures, natural imperfections, and the unique touch
							of the artisan’s hand, turning simple earth into lasting beauty.
						</div>
					</div>
				</div>
		</div>
	</section>


	<%- include('src/templates/footer.html') %>

		<script type="module" src="/src/js/script.js"></script>
</body>

</html>