<div class="header">
	<div class="header__menu">
		<div class="header__menu-close">
			<span></span>
			<span></span>
		</div>
		<nav class="header__menu-nav">
			<ul>
				<li><a href="/catalog" class="header__menu-link">catalog</a></li>
				<li><a href="/blog" class="header__menu-link">blog</a></li>
				<li><a href="/about" class="header__menu-link">about</a></li>
			</ul>
		</nav>
	</div>
	<div class="header__top">
		<div class="burger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<a href="/" class="header__logo">
			<img src="/src/logo/logo.png" alt="logo">
		</a>
		<div class="header__icons">
			<a aria-label="Search" href="#"><span class="icon-search"></span></a>
			<a aria-label="Cart" href="#"><span class="icon-shopping-bag"></span></a>
		</div>
	</div>
	<nav class="header__nav">
		<ul>
			<li><a href="/catalog" class="header__link">catalog</a></li>
			<li><a href="/blog" class="header__link">blog</a></li>
			<li><a href="/about" class="header__link">about</a></li>
		</ul>
	</nav>
</div>